/* Body Pages*/ 
body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/008/490/121/original/wave-abstract-lines-background-line-art-png.png");   
}
/* Styling for Home Page */

#home-body{
    background-color: blanchedalmond;
}
li{
    font-size: large;
}
a{
    color: white;
    border: solid;
    background-color: black;
    padding: 5px;
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif;
    
}
ul {
    list-style-type: none;
    margin: px;
    padding: 0px;
    color:white;
  }

li {
    display: inline;
    padding: 100px;
      
  }
  .box{
    background-color:beige;
    padding: 20px; 
   
  }
 
  #name{
    margin-top: 50px;
   
}
#home-imagine{
    width: 300px;
    float: inline-start;
    margin-left: 200px; 
    margin-bottom: 50px;
    border-radius: 15px;
    
}

#quote{
    margin-right: 200px;
    margin-top: 80px;
    margin-left: 550px ;
    margin-bottom: 50px;
    
}
table{
    float: left;
}

#footer {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: beige;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 100px;
  font-family: 'Times New Roman', Times, serif;
  
}
  
#about-body{
    background-color: blanchedalmond;
}
#portafolio-body{
    background-color: blanchedalmond;
}

#email{
    float: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin-left: 100px;
}
#linkedin-footer{
    width: 50px;
    float: left;
    padding-left: 10px;
}
#facebook-footer{
    width: 50px;
    float: left;
    padding-left: 10px;
}
#instagram-footer{
    width: 50px;
    float: left;
    padding-left: 10px;
}
#phone{
    font-size: large;
    float: right;
    margin-right: 100px;
}
h3{
   float: left;
   margin-right: 600px;
   margin-left: 150px ;
   padding: 10px;
  
}
/* Styling for About Page*/
#header-about{
    margin-left:200px;
    margin-top: 100px;
    margin-right: 200px;
}
/* Volcano Block About*/
#volcan-paragraph{
    width: 800px;
    float: right;
    margin-top: 105px;
    margin-left: px;
    margin-right: 200px;
    
}
#images-volcan{
    margin-top: 50px ;
    width: 200px;
    margin-left: 200px;
    border-radius: 15px;
}
/* Waterfall Block About*/

#waterfall-paragraph{
    width: 600px;
    float: right;
    margin-top: 100px;
    margin-left: 2px;
    margin-right: 200px;

}
#waterfall-imagine{
    width: 200px;
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 100px;border-radius: 15px;

}
#waterfall{
    padding-top: 5px;
    
}
/*My Porjects*/
#header-portfolio{
    width: 200px;
    height: 50px;
    margin-left: 200px;
    margin-top: 50px;
}
#images-portfolio{
    width: 500px;
    margin-left: 500px;
    margin-bottom: 100pxpx;
}
#project-paragraph{
    width: 500px;
    margin-right: 200px;
    padding: 200px;
    margin-left: 300px;

   
}
#project-paragraph3{
    width: 500px;
    margin-right: 200px;
    padding: 50px;
    margin-left: 300px;
    padding-right: 300px;
    margin-bottom: 300px;
   float: left;
       
}
#websitetext{
    width: 500px;
    
}
